page-chatlist {
    .header {
        position: fixed;
        top: 5%;
        z-index: 1000;
        width: 100%;
        text-align: center !important
    }
    .header h3 {
        text-align: center !important;
        margin-top: -2%;
    }
    ion-list {
        position: relative;
        top: 10% !important
    }
    ion-item {
        box-shadow: 0px 2px 5px lightgray !important;
        margin: 2% !important;
        width: 95% !important
    }
    ion-item label {
        position: absolute;
        bottom: 37%;
        margin-left: 5%;
    }
    ion-item img {
        height: 40px;
        width: 40px;
        border-radius: 50% !important;
    }
    .item-inner {
        border-bottom: none !important
    }
}